.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20pt;
}

.display {
  border-radius: 30%;
  margin-top: 4% !important;
}

.datetime {
  vertical-align: middle;
  font-size: 200%;
  color: brown;
}
